.education-item {
    position: relative;
}

.education-item__number {
    position: absolute;
    top: 0;
    right: 0;
}

.education-item__name {
    font-size: 14px;
    font-weight: 600;
}

.education-item {
    margin-bottom: 13px;
}

.education-item__number {
    margin-bottom: 13px;
    right: 0;
    transform: translate(-50%, -50%);
    top: 50%;
}