.home__student-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.home__inner {
    padding: 30px 20px;
}

.home__title-block {
    font-size: 20px;
    font-weight: 600;
}

.home__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.home__search-block {
    width: 300px;
    background-color: #efefef;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
}

.home__search-block span {
    margin-left: 8px;
    font-size: 14px;
    opacity: 0.6;
}

.home__search-block svg {
    zoom: 0.8;
}

@media(max-width: 1160px) {
    .home__student-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 1060px) {
    .home__search-block {
        width: 265px;
    }

    .home__search-block span {
        font-size: 12px;
    }
}

@media(max-width: 1000px) {
    .home__header {
        flex-direction: column;
        gap: 8px;
    }

    .home__search-block {
        zoom: 0.8;
    }
}

@media(max-width: 850px) {
    .home__student-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 700px) {
    .home__student-list {
        grid-template-columns: 1fr 1fr;
    }

    .home {
        order: 2;
    }
}

@media(max-width: 500px) {
    .home__student-list {
        grid-template-columns: 1fr;
    }
}